<!doctype html>
<html lang="zh-Hans" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style> [v-cloak] {
        display: none;
    } </style>
    <script src="//at.alicdn.com/t/font_wsnf42kc1d8nz5mi.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <section id="signInAndSignUp" v-if="!currentUser">
            <h3>todos</h3>
            <div class="switch">
                <div v-bind:class="{active:actionType==='register'}" v-on:click="actionType='register'">注册</div>
                <div v-bind:class="{active:actionType==='login'}" v-on:click="actionType='login'">登陆</div>
            </div>
            <div class="login" v-if="actionType=='login'">
                <form @submit.prevent="login">
                    <div class="formRow">
                        <svg class="emailIcon" aria-hidden="true">
                            <use xlink:href="#icon-185078emailmailstreamline"></use>
                        </svg>
                        <input type="text" placeholder="Email" v-model="formData.email" />
                    </div>
                    <div class="formRow">
                        <svg class="keyIcon" aria-hidden="true">
                            <use xlink:href="#icon-mima"></use>
                        </svg>
                        <input type="password" placeholder="password" v-model="formData.password" />
                    </div>
                    <div class="formAction">
                        <input type="submit" value="登陆"/>
                    </div>
                </form>

            </div>
            <div class="register" v-if="actionType=='register'">
                <form @submit.prevent="register">
                    <div class="formRow">
                        <svg class="userIcon" aria-hidden="true">
                            <use xlink:href="#icon-weibiaoti1"></use>
                        </svg>
                        <input type="text" placeholder="Name" v-model="formData.username" />
                    </div>
                    <div class="formRow">
                        <svg class="emailIcon" aria-hidden="true">
                            <use xlink:href="#icon-185078emailmailstreamline"></use>
                        </svg>
                        <input type="text" placeholder="Email" v-model="formData.email" />
                    </div>
                    <div class="formRow">
                        <svg class="keyIcon" aria-hidden="true">
                            <use xlink:href="#icon-mima"></use>
                        </svg>
                        <input type="password" placeholder="Password" v-model="formData.password" />
                    </div>
                    <div class="formAction">
                        <input type="submit" value="注册"/>
                    </div>
                </form>

            </div>

        </section>
        <section id="todo" v-if="currentUser">
            <h3>todos</h3>
            <el-button type="info"class="logout" @click="logout">退出</el-button>
            <div class="newTask">
                <input type="text" placeholder="what do you want do?" v-model="newTodo" @keypress.enter="addTodo">
            </div>
            <ol class="todos">
                <li v-for="(todo,index) in todoList" v-bind:class="{active: todo.done}">
                    <label for="">
                        <svg class="icon" aria-hidden="true" v-show="todo.done===true">
                            <use xlink:href="#icon-icon"></use>
                        </svg>
                    </label>
                    <input type="checkbox" / v-model="todo.done">
                    {{todo.title}}

                    <svg class="closeIcon" aria-hidden="true" v-on:click="removeTodo(index)">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </li>
            </ol>

        </section>
    </div>

    <script src="bundle.js"></script>
    </body>
</html>